@model CRP.Models.Entities.BookingReceipt
@{
	ViewBag.Title = "Booking Confirm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-content">
	<div class="row">
		<div class="col-md-offset-1 col-md-7 animated fadeInLeft">
			<div class="ibox">
				<div class="ibox-title">
					<h2>Thông tin đặt xe</h2>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table shoping-cart-table">
							<tbody>
								<tr>
									<td width="100">
										<div class="cart-product-imitation">
										</div>
									</td>
									<td class="desc">
										<dl class="m-b-none" style="text-align: center;">
											<dt>Thông tin xe</dt>
											<div class="ibox-content text-center">
												<span class="small">
													<h6>Dòng xe : @Model.VehicleModel.VehicleBrand.Name @Model.VehicleModel.Name</h6>
													<h7>Màu sắc: @Model.Color</h7>
												</span>
											</div>
										</dl>
										<dl class="small m-b-none" style="text-align: center;">
											<dt>Nhà cung cấp: @Model.AspNetUser1.UserName</dt>
											<div class="ibox-content text-center">
												@Model.Garage.Name
												<h6><i class="fa fa-phone"></i> @Model.GaragePhone</h6>
												<span class="small">
													<h6><i class="fa fa-envelope-o"></i> provider@mgail.com</h6>
													<span class="small"><h6><i class="fa fa-location-arrow"></i> @Model.GarageAddress</h6></span>
												</span>
											</div>
										</dl>

									</td>
									<td class="desc" style="width: 40%;  border: 1px solid black; border-radius: 5px;">
										<table class="table shoping-cart-table">
											<tr>
												<td><h5>Bắt đầu:</h5></td>
												<td>@Model.StartTime</td>
												<td><h5>Đến</h5></td>
												<td>@Model.EndTime</td>
											</tr>
											<tr>
												<td> </td>
											</tr>
											<tr>
												<td> <h5>Khoảng thời gian sẽ thuê:</h5></td>
												<td></td>
												<td></td>
												<td>
</td>
											</tr>
											<tr>
												<td> </td>
											</tr>
											<tr>
												<td>
													<h5>Tổng tiền:</h5>
												</td>
												<td></td>
												<td></td>
												<td>
													<h2 class="font-bold">
														@Model.RentalPrice vnd
													</h2>
												</td>
											</tr>
											<tr>
												<td>
													<div class="m-t-sm">
														<button class="btn btn-info " type="button"><i class="fa fa-paste"></i> Thay đổi booking</button>
													</div>
												</td>
											</tr>
										</table>
									</td>


								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 animated fadeInRight">
			<div class="ibox">
				<div class="ibox-title">
					<h2>Chi phí</h2>
				</div>
				<div class="ibox-content">
					<div class="row" style="font-size: 1.2em;">
						<label class="col-md-7">Phí thuê xe</label>
						<div class="col-md-5 text-right">@Model.RentalPrice</div>
					</div>
					<div class="row">
						<span class="col-md-7">Đặt cọc</span>
						<div class="col-md-5 text-right">@Model.Deposit</div>
					</div>
					<hr>
					<div class="row" style="font-size: 1.2em;">
						<label class="col-md-7">Phí dịch vụ</label>
						<div class="col-md-5 text-right">@Model.BookingFee</div>
					</div>
					<div class="m-t-sm">
						<div class="btn-group">
							<a href="payment" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Pay for Booking Fee</a>
							<a href="#" class="btn btn-white btn-sm"> Hủy bỏ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper-content">
	<div class="row">
		<div class="col-md-offset-1 col-md-7">
			<div class="ibox">
				<div class="ibox-title">

					<h3>Thông tin đặt xe</h3>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<table class="table shoping-cart-table">
							<tbody>
								<tr>
									<td width="100">
										<div class="cart-product-imitation">
										</div>
									</td>
									<td class="desc">
										<dl class="m-b-none" style="text-align: center;">
											<dt>Thông tin xe</dt>
											<div class="ibox-content text-center">
												<span class="small">
													<h6>Dòng xe : @Model.VehicleModel.VehicleBrand.Name @Model.VehicleModel.Name</h6>
													<h7>Màu sắc: @Model.Color</h7>
												</span>
											</div>
										</dl>
										<dl class="small m-b-none" style="text-align: center;">
											<dt>Nhà cung cấp: @Model.AspNetUser1.UserName</dt>
											<div class="ibox-content text-center">
												@Model.Garage.Name
												<h6><i class="fa fa-phone"></i> @Model.GaragePhone</h6>
												<span class="small">
													<h6><i class="fa fa-envelope-o"></i> provider@mgail.com</h6>
													<span class="small"><h6><i class="fa fa-location-arrow"></i> @Model.GarageAddress</h6></span>
												</span>
											</div>
										</dl>

									</td>
									<td class="desc" style="width: 40%;  border: 1px solid black; border-radius: 5px;">
										<table class="table shoping-cart-table">
											<tr>
												<td><h5>Bắt đầu:</h5></td>
												<td>@Model.StartTime</td>
												<td><h5>Đến</h5></td>
												<td>@Model.EndTime</td>
											</tr>
											<tr>
												<td> </td>
											</tr>
											<tr>
												<td> <h5>Khoảng thời gian sẽ thuê:</h5></td>
												<td></td>
												<td></td>
												<td>
</td>
											</tr>
											<tr>
												<td> </td>
											</tr>
											<tr>
												<td>
													<h5>Tổng tiền:</h5>
												</td>
												<td></td>
												<td></td>
												<td>
													<h2 class="font-bold">
														@Model.RentalPrice vnd
													</h2>
												</td>
											</tr>
											<tr>
												<td>
													<div class="m-t-sm">
														<button class="btn btn-info " type="button"><i class="fa fa-paste"></i> Thay đổi booking</button>
													</div>
												</td>
											</tr>
										</table>
									</td>


								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3  animated fadeInRight" style="height:100%">
			<div class="ibox">
				<div class="ibox-title">
					<h5>Phí đặt xe</h5>
				</div>
				<div class="ibox-content">
					<span>
						Tổng cộng
					</span>
					<h2 class="font-bold">
						@Model.BookingFee
					</h2>

					<hr />
					<span class="text-muted small">
						Sau khi thanh toán, vui lòng liên hệ trực tiếp với provider để nhận xe! Chân thành cảm ơn đã sử dụng dịch vụ của chúng tôi!
					</span>
					<div class="m-t-sm">
						<div class="btn-group">
							<a href="payment" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Pay for Booking Fee</a>
							<a href="#" class="btn btn-white btn-sm"> Hủy bỏ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Styles {
	@Styles.Render("~/Styles/BookingConfirm")
}
@section PageStyle {
	@Styles.Render("~/Content/pageStyle/bookingConfirm.css")
}

@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/BookingConfirm")
	.Include("~/Scripts/pageScript/bookingConfirm.js"));
}
@section Scripts {
	@Scripts.Render("~/Scripts/BookingConfirm")
}