@model CRP.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    String UError = ViewBag.Error;
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Profile detail</h2>
        </div>
        <div class="col-lg-2"> </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInLeft">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
               @using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
               {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                 <h3>@UError</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Name</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Email</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Phone 1</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Change Password</label>
                            <div class="col-xs-10">
                                [
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="col-xs-4">
                        <div class="profile-image">
                            <a href="#"> <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="~/Content/img/a4.jpg" class="img-circle circle-border" alt="profile"></a>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-4 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </div>
               }
            </div>
        </div>
    </div>
</div>
    
    <script>
        function bigImg(x) {
            x.style.height = "120px";
            x.style.width = "120px";
        }

        function normalImg(x) {
            x.style.height = "96px";
            x.style.width = "96px";
        }
    </script>


    @section PageStyle {
        @Styles.Render("~/Content/pageStyle/personalInfo.css")
    }
