@model CRP.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    String UError = ViewBag.Error;
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Profile detail</h2>
        </div>
        <div class="col-lg-2"> </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInLeft">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
               @using (Html.BeginForm("Update", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
               {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                 <h3>@UError</h3>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Tên đầy đủ:</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Email</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Số điện thoại</label>
                            <div class="col-xs-10">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-xs-2 control-label">Thay đổi mật khẩu</label>
                            <div class="col-xs-10">
                                [
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    </div>
                    <div class="col-xs-4" style="margin-left:40px">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <img id="profilePreview" src="@("".Equals(@Model.Url) ? "~/Content/img/a2.jpg" : @Model.Url)" onerror="this.src = '~/Content/img/a2.jpg';" class="img-circle circle-border" alt="profile" style="height:150px;width:150px;">
                                    @Html.TextBoxFor(m => m.Url, new { style = "display: none;", id = "newUrl" })
                                    <div id="progressBar" class="progress" style="width: 200px" hidden="hidden">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 200px">
                                        </div>
                                    </div>
                                    <input type="file" id="uploadEditorImage" />
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="form-group row">
                    <div class="col-xs-4 col-sm-offset-2">
                        <button class="btn btn-primary" type="submit">Lưu</button>
                        @Html.ActionLink("Hủy bỏ", "Index", "Manage")
                    </div>
                </div>
               }
            </div>
        </div>
    </div>
</div>
    @section PageStyle {
        @Styles.Render("~/Content/pageStyle/personalInfo.css")
    }
@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/BookingHistory")
                                                                                     .Include("~/Scripts/chosen.jquery.js",
                                                                                             "~/Scripts/cropper.min.js",
                                                                                        "~/Scripts/pageScript/Personal.js"));
}
@section Scripts {
    @Scripts.Render("~/Scripts/BookingHistory")
}
