@using Microsoft.AspNet.Identity
<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
                @if (User.IsInRole("Admin"))
                {
                    <div class="dropdown profile-element text-center">
                        <a href="@Url.Action("AdminDashboard", "Dashboard")"><h1><i class="fa fa-car"></i> CRP</h1></a>
                    </div>
                    <div class="logo-element">
                        <a href="@Url.Action("AdminDashboard", "Dashboard")"><i class="fa fa-car"></i></a>
                    </div>
                }
                else if (User.IsInRole("Provider"))
                {
                    <div class="dropdown profile-element text-center">
                        <a href="@Url.Action("Dashboard", "Dashboard")"><h1><i class="fa fa-car"></i> CRP</h1></a>
                    </div>
                    <div class="logo-element">
                        <a href="@Url.Action("Dashboard", "Dashboard")"><i class="fa fa-car"></i></a>
                    </div>
                }
                else
                {
                    <div class="dropdown profile-element text-center">
                        <a href="@Url.Action("Index", "Home")"><h1><i class="fa fa-car"></i> CRP</h1></a>
                    </div>
                    <div class="logo-element">
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-car"></i></a>
                    </div>
                }
			</li>
			<li>
				<a href="@Url.Action("Index", "Manage")">
					<i class="fa fa-th-large"></i>
					<span class="nav-label">Thông tin cá nhân</span>
				</a>
			</li>
			@if (User.IsInRole("Admin"))
			{
			<li>
				<a href="@Url.Action("UserManagement", "UserManagement")">
					<i class="fa fa-th-large"></i>
					<span class="nav-label">Quản lý người dùng</span>
				</a>
			</li>
			}
			@if (User.IsInRole("Provider"))
			{
			<li>
				<a href="@Url.Action("GarageManagement", "GarageManagement")">
					<i class="fa fa-th-large"></i>
					<span class="nav-label">Quản lý garage</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("VehicleManagement", "VehicleManagement")" style="margin-left: 20px;">
					<i class="fa fa-th-large"></i>
					<span class="nav-label">Quản lý xe</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("BookingManagement", "BookingManagement")" style="margin-left: 20px;">
					<i class="fa fa-th-large"></i>
					<span class="nav-label">Quản lý đặt xe</span>
				</a>
			</li>
			<li>
				<a href="@Url.Action("VehicleGroupManagement", "VehicleGroupManagement")">
					<i class="fa fa-th-large"></i>
					<span class="nav-label">Quản lý nhóm giá</span>
				</a>
			</li>
			}
			@if (User.IsInRole("Customer"))
			{
			<li>
				<a href="@Url.Action("BookingHistory", "Booking")">
					<i class="fa fa-th-large"></i>
					<span class="nav-label">Lịch sử đặt xe</span>
				</a>
			</li>
				if (!User.IsInRole("Provider")) {
				<li>
					<a href="@Url.RouteUrl("BecomeProvider")">
						<i class="fa fa-th-large"></i>
						<span class="nav-label">Trở thành nhà cung cấp</span>
					</a>
				</li>
				}
			}
		</ul>
	</div>
</nav>