@model CRP.Models.createNewGarageViewModel
@{
	ViewBag.Title = "Garage Management";
	List<CRP.Models.Entities.Location> lstLocation = ViewBag.locationList;
	Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
	<h2>Quản lý Garage</h2>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox ibox-content float-e-margins">
        <div class="pull-right m-r m-b">
            <a class="btn btn-success" data-toggle="modal" data-target="#modal-form"><i class="fa fa-plus"></i> Tạo mới Garage</a>
        </div>
		<table class="table table-striped table-bordered table-hover " id="garages" width="100%">
			<thead></thead>
			<tfoot id="multiFilter">
				<tr>
					<th></th>
					<!-- Garage's name filter -->
					<th>
						<div id="garageName" class="btn-group">
							<button class="btn btn-primary filter-toggle">
								<i class="fa fa-search"></i>
							</button>
							<div class="dropdown-menu filter-dropdown">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Garage Name...">
									<span class="input-group-btn">
										<button class="btn btn-primary"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</div>
							<button class="btn btn-warning filter-remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</th>
					<!-- Garage's address filter -->
					<th>
						<div id="garageAdress" class="btn-group">
							<button class="btn btn-primary filter-toggle">
								<i class="fa fa-search"></i>
							</button>
							<div class="dropdown-menu filter-dropdown">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Garage Address...">
									<span class="input-group-btn">
										<button class="btn btn-primary"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</div>
							<button class="btn btn-warning filter-remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</th>
					<!-- location filter -->
					<th>
						<div id="location" class="btn-group">
							<button class="btn btn-primary filter-toggle">
								<i class="fa fa-search"></i>
							</button>
							<div class="dropdown-menu filter-dropdown">
								<button class="btn btn-primary btn-block">Filter <i class="fa fa-search"></i></button>
								<div class="scroller">
									<div class="input-group" id="typeTree">
										@{
											foreach (CRP.Models.Entities.Location item2 in lstLocation)
											{
												<div class="checkbox checkbox-success">
													<input value="@item2.Name" id="@item2.Name" type="checkbox" />
													<label>@item2.Name</label>
												</div>
											}
										}
									</div>
								</div>
							</div>
							<button class="btn btn-warning filter-remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</th>
					<!-- Rate -->
					<th>
						<div id="rate" class="btn-group">
							<button class="btn btn-primary filter-toggle" aria-expanded="false">
								<i class="fa fa-search"></i>
							</button>
							<button class="btn btn-warning filter-remove">
								<i class="fa fa-times"></i>
							</button>
							<div class="dropdown-menu filter-dropdown last-col-filter">
								<div class="input-group">
									<span class="input-group-addon"><b>From</b></span>
									<input type="number" min="0" max="5" class="from-input form-control">
									<span class="input-group-addon"><b>To</b></span>
									<input type="number" min="0" max="5" class="to-input form-control">
									<span class="input-group-btn">
										<button class="btn btn-primary"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</div>
						</div>
					</th>
					<!-- Status -->
					<th>
						<div id="status" class="btn-group">
							<button class="btn btn-primary filter-toggle">
								<i class="fa fa-search"></i>
							</button>
							<div class="dropdown-menu filter-dropdown">
								<button class="btn btn-primary btn-block">Filter <i class="fa fa-search"></i></button>
								<div class="scroller">
									<div class="input-group" id="transmissionSelector">
										<div class="checkbox checkbox-success">
											<input value="true" id="sttActive" type="checkbox" />
											<label for="sttActive">Đang mở cửa</label>
										</div>
										<div class="checkbox checkbox-success">
											<input value="false" id="sttInactive" type="checkbox" />
											<label for="sttInactive">Đã đóng cửa</label>
										</div>
									</div>
								</div>
							</div>
							<button class="btn btn-warning filter-remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</th>
					<th></th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<!-- ADd new garage-->
<div id="modal-form" class="modal fade" aria-hidden="true" style="margin-top:10px">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("Create", "GarageManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="modal-header modal-header-popup">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Garage</h4>
                    </div>
                    <div class="modal-body">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                            @Html.TextBoxFor(m => m.GarageName, new { @class = "form-control", placeholder = "Name", @id = "txtPlace", @name = "txtPlace" })

                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="locationID">Location</label>
                                    @{
                                        List<SelectListItem> listItems = new List<SelectListItem>();


                                        foreach (CRP.Models.Entities.Location item2 in lstLocation)
                                        {
                                            listItems.Add(new SelectListItem
                                            {
                                                Text = item2.Name,
                                                Value = item2.ID.ToString()
                                            });
                                        }
                                    }
                                    @Html.DropDownListFor(m => m.LocationID, listItems, null, new { @class = "form-control", placeholder = "Location" })
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Adress" })
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                </div>
                                <div class="form-group">
                                    <label for="phone1">Phone 1</label>
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Phone" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Open Time</label>
                                    <div class="input-group row">
                                        <label class="col-xs-2 control-label">Mon</label>
                                        <div class="input-group col-xs-10">
                                            <div class="input-group-addon">From</div>
                                            <input type="text" value="6:00" class="form-control" id="openTimeMon">
                                            <div class="input-group-addon">To</div>
                                            <input type="text" value="20:00" class="form-control" id="closeTimeMon">
                                        </div>
                                    </div>
                                    <div class="input-group row">
                                        <label class="col-xs-2 control-label">Tue</label>
                                        <div class="input-group col-xs-10">
                                            <div class="input-group-addon">From</div>
                                            <input type="text" value="6:00" class="form-control" id="openTimeTue">
                                            <div class="input-group-addon">To</div>
                                            <input type="text" value="20:00" class="form-control" id="closeTimeTue">
                                        </div>
                                    </div>
                                    <div class="input-group row">
                                        <label class="col-xs-2 control-label">Wed</label>
                                        <div class="input-group col-xs-10">
                                            <div class="input-group-addon">From</div>
                                            <input type="text" value="6:00" class="form-control" id="openTimeWed">
                                            <div class="input-group-addon">To</div>
                                            <input type="text" value="20:00" class="form-control" id="closeTimeWed">
                                        </div>
                                    </div>
                                    <div class="input-group row">
                                        <label class="col-xs-2 control-label">Thu</label>
                                        <div class="input-group col-xs-10">
                                            <div class="input-group-addon">From</div>
                                            <input type="text" value="6:00" class="form-control" id="openTimeThur">
                                            <div class="input-group-addon">To</div>
                                            <input type="text" value="20:00" class="form-control" id="closeTimeThur">
                                        </div>
                                    </div>
                                    <div class="input-group row">
                                        <label class="col-xs-2 control-label">Fri</label>
                                        <div class="input-group col-xs-10">
                                            <div class="input-group-addon">From</div>
                                            <input type="text" value="6:00" class="form-control" id="openTimeFri">
                                            <div class="input-group-addon">To</div>
                                            <input type="text" value="20:00" class="form-control" id="closeTimeFri">
                                        </div>
                                    </div>
                                    <div class="input-group row">
                                        <label class="col-xs-2 control-label">Sat</label>
                                        <div class="input-group col-xs-10">
                                            <div class="input-group-addon">From</div>
                                            <input type="text" class="form-control" id="openTimeSat">
                                            <div class="input-group-addon">To</div>
                                            <input type="text" class="form-control" id="closeTimeSat">
                                        </div>
                                    </div>
                                    <div class="input-group row">
                                        <label class="col-xs-2 control-label">Sun</label>
                                        <div class="input-group col-xs-10">
                                            <div class="input-group-addon">From</div>
                                            <input type="text" class="form-control" id="openTimeSun">
                                            <div class="input-group-addon">To</div>
                                            <input type="text" class="form-control" id="closeTimeSun">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-success btn-yeah" type="submit">Save changes</button>
                    </div>
                                        }
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog"></div>

<div class="modal fade" id="mdModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/GarageList")
	.Include("~/Content/awesome-bootstrap-checkbox.css",
		"~/Content/chosen.css",
		"~/Content/DataTables/css/jquery.dataTables.css",
		"~/Content/DataTables/css/dataTables.bootstrap.css"));
}
@section Styles {
	@Styles.Render("~/Styles/GarageList")
}
@section PageStyle {
	@Styles.Render("~/Content/pageStyle/garageList.css")
}

@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/GarageList")
      .Include("~/Scripts/chosen.jquery.js",
         "~/Scripts/DataTables/jquery.dataTables.js",
                                "~/Scripts/DataTables/dataTables.bootstrap.js",
                                "~/Scripts/utils/generateUIElements.js",
                                "~/Scripts/utils/customModals.js",
                                "~/Scripts/utils/generateCustomDataTablesFilters.js",
         "~/Scripts/pageScript/garageManagement.js"));
}
@section Scripts {
	@Scripts.Render("~/Scripts/GarageList")
}