@using CRP.Models
@using CRP.Models.Entities
@using CRP.Models.ViewModels

@model SearchPageViewModel

@{
	ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-content row">
	<!-- header filter -->
	<div class="col-md-offset-1 col-md-10 white-bg" id="headerFilters">
		<!-- Location -->
		<div class="row">
			<span class="col-xs-4" style="padding-left: 60px;" >Địa điểm</span>
			<span class="col-xs-4" style="padding-left: 60px;">Thời gian đi</span>
			<span class="col-xs-4" style="padding-left: 60px;">Thời gian về</span>
		</div>
		<!-- Time -->
		<div class="row">
			<div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
					<select id="locationFilter" class="form-control" style="width: 100%;" >
						@foreach (Location entry in Model.LocationList)
						{
							<option value="@entry.ID">@entry.Name</option>
						}
					</select>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
					<input type="text" id="startTimeFilter" class="form-control" readonly/>
				</div>
			</div>
			<div class="col-xs-4">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input type="text" id="endTimeFilter" class="form-control" readonly/>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<!-- side filter -->
	<div class="animated fadeInLeft col-md-offset-1 col-md-3 white-bg" style="padding: 0;">
		<div id="sideFilters">
			<button class="btn btn-primary btn-block" style="margin-bottom: 1em;">Xóa bộ lọc</button>
			<!-- NumOfSeat -->
			<div class="row">
				<label class="col-xs-12 filter-label">Số chỗ ngồi</label>
				@foreach (int entry in Constants.COMMON_NUM_OF_SEAT)
				{
					<div class="col-xs-6" id="seatFilter">
						<div class="checkbox checkbox-inline checkbox-primary">
							<input value="@entry" id="numOfSeat@(entry)" type="checkbox" >
							<label for="numOfSeat@(entry)">@(entry) chỗ</label>
						</div>
					</div>
				}
			</div>
			<hr>
			<!-- Price -->
			<div class="row">
				<label class="col-xs-12">Mức giá</label>
				<div id="minPriceDisplay" class="col-xs-6" style="padding-left: 1.5em; font-size: 1.2em"></div>
				<div id="maxPriceDisplay" class="col-xs-6 text-right" style="padding-right: 1.5em; font-size: 1.2em"></div>
				<div class="col-xs-12" style="position: relative; padding: 1em 3em 2em" >
					<div id="priceFilter"></div>
				</div>
			</div>
			<hr>
			<!-- Sorting -->
			<div class="row">
				<label class="col-xs-12">Sắp xếp theo</label>
				<div class="col-xs-12">
					<select id="sorter" class="form-control" style="width: 100%;">
						@foreach(Constants.SortingOption entry in Constants.ALLOWED_SORTING_PROPS_IN_SEARCH_PAGE){
							<option value="@entry.Name" data-is-descending="@entry.IsDescending">@entry.Description</option>
						}
					</select>
				</div>
			</div>
		</div>
		<!-- Additional filters -->
		<div class="panel panel-default" style="margin: 1em 0 0;border: none;">
			<a data-toggle="collapse" href="#additionalFilters" class="btn btn-primary btn-block" style="border-radius: 0;">
				Lọc chi tiết hơn về xe <i class="fa fa-angle-double-down"></i>
			</a>
			<div id="additionalFilters" class="panel-collapse collapse">
				<div class="panel-body">
					@* <!-- Brand -->
					<div class="form-group row">
						<label class="col-xs-12">Nhãn hiệu</label>
						<div class="col-xs-12">
							<select id="brandFilter" class="form-control" style="width: 100%;" multiple>
								@foreach (Brand brand in Model.BrandList)
								{
									<option value="@brand.ID">@brand.Name</option>
								}
							</select>
						</div>
					</div>
					<hr> *@
					<!-- Model -->
					<div class="form-group row">
						<label class="col-xs-12">Dòng xe</label>
						<div class="col-xs-12">
							<select id="modelFilter" class="form-control" style="width: 100%;" multiple>
								@foreach (Brand brand in Model.BrandList)
								{
									<optgroup label="@brand.Name" data-brand="@brand.ID">
										@foreach (Model entry in brand.Models)
										{
											<option value="@entry.ID">
												@brand.Name&nbsp;@entry.Name
											</option>
										}
									</optgroup>
								}
							</select>
						</div>
					</div>
					<hr>
					<!-- Year -->
					<div class="form-group row">
						<label class="col-xs-12">Năm sản xuất</label>
						<div id="minYearDisplay" class="col-xs-6" style="padding-left: 1.5em; font-size: 1.2em"></div>
						<div id="maxYearDisplay" class="col-xs-6 text-right" style="padding-right: 1.5em; font-size: 1.2em"></div>
						<div class="col-xs-12" style="position: relative; padding: 1em 3em"><div id="yearFilter"></div></div>
					</div>
					<hr>
					<!-- Transmission -->
					<div id="transmissionFilter" class="form-group row">
						<label class="col-xs-12">Bộ chuyển số</label>
						@foreach (KeyValuePair<int, string> entry in Constants.TRANSMISSION_TYPE)
						{
							<div class="col-xs-6">
								<div class="checkbox checkbox-inline checkbox-primary">
									<input value="@entry.Key" id="transmission@(entry.Value)" type="checkbox" >
									<label for="transmission@(entry.Value)">@entry.Value</label>
								</div>
							</div>
						}
					</div>
					<hr>
					<!-- Fuel -->
					<div class="form-group row">
						<label class="col-xs-12">Loại nhiên liệu</label>
						<div class="col-xs-12">
							<select id="fuelFilter" class="form-control" style="width: 100%;"  multiple>
								@foreach(KeyValuePair<int, string> entry in Constants.FUEL_TYPE){
									<option value="@entry.Key">@entry.Value</option>
								}
							</select>
						</div>
					</div>
					<hr>
					<!-- Category -->
					<div class="form-group row" >
						<label class="col-xs-12">Loại xe</label>
						<div class="col-xs-10">
							<select id="categoryFilter" class="form-control" style="width: 100%;"  multiple>
								@foreach (Category entry in Model.CategoryList)
								{
									<option value="@entry.ID">@entry.Name</option>
								}
							</select>
						</div>
					</div>
					<hr>
					<!-- Color -->
					<div class="form-group row" id="colorFilter">
						<label class="col-xs-12 filter-label">Màu sắc</label>
						@for(int i = 1; i < Constants.COLOR.Count(); i++)
						{
							<div class="color-selector" >
								<input id="color@(Constants.COLOR[i])" value="@i" type="checkbox" >
								<label for="color@(Constants.COLOR[i])" style="background-color: @Constants.COLOR[i];"></label>
							</div>
						}
					</div>

				</div>
			</div>
		</div>
		<!-- Rating filters -->
		<div class="panel panel-default" style="margin: 0;border: none;">
			<a data-toggle="collapse" href="#ratingFilters" class="btn btn-primary btn-block" style="border-radius: 0;">
				Lọc về đánh giá <i class="fa fa-angle-double-down"></i>
			</a>
			<div id="ratingFilters" class="panel-collapse collapse">
				<div class="panel-body">
					<!-- Year -->
					<div class="form-group row">
						<label class="col-xs-12">Năm sản xuất</label>
						<div id="minYearDisplay" class="col-xs-6" style="padding-left: 1.5em; font-size: 1.2em"></div>
						<div id="maxYearDisplay" class="col-xs-6 text-right" style="padding-right: 1.5em; font-size: 1.2em"></div>
						<div class="col-xs-12" style="position: relative; padding: 1em 3em"><div id="yearFilter"></div></div>
					</div>
					<hr>

				</div>
			</div>
		</div>
	</div>
	<!-- results -->
	<div class="animated fadeInRight col-md-7" id="resultContainer">
		<div class="ibox" style="padding-top: 1em;">
			<div class="row" id="searchResultGrid"></div>
			<div id="recordInfo" style="margin-bottom: 1em;"></div>
			<div class="text-center">
				<ul id="paginatior" class="pagination"></ul>
			</div>
		</div>
	</div>
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/Search")
	 .Include("~/Content/awesome-bootstrap-checkbox.css",
		 "~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.css",
		 "~/Content/NoUISlider/nouislider.css",
		 "~/Content/NoUISlider/nouislider.pips.css",
		 "~/Content/NoUISlider/nouislider.tooltips.css",
		 "~/Content/select2/select2.css"));
}
@section Styles {
	@Styles.Render("~/Styles/Search")
}
@section PageStyle {
	@Styles.Render("~/Content/pageStyle/search.css")
}

@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/Search")
	.Include(
		"~/Scripts/moment.js",
		"~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.js",
		"~/Scripts/NoUISlider/nouislider.js",
		"~/Scripts/select2/select2.full.js",
		"~/Scripts/twbsPagination/jquery.twbsPagination.js",
		"~/Scripts/utils/generateUIElements.js",
		"~/Scripts/pageScript/search.js"));
}
@section Scripts {
	<script type="text/javascript">
		const NUM_RECORD_PER_PAGE = @Constants.NUM_OF_SEARCH_RESULT_PER_PAGE
			, SOONEST_POSSIBLE_BOOKING_START_TIME_FROM_NOW_IN_HOUR = @Constants.SOONEST_POSSIBLE_BOOKING_START_TIME_FROM_NOW_IN_HOUR
			, SOONEST_POSSIBLE_BOOKING_END_TIME_FROM_NOW_IN_HOUR = @Constants.SOONEST_POSSIBLE_BOOKING_END_TIME_FROM_NOW_IN_HOUR
			, LATEST_POSSIBLE_BOOKING_START_TIME_FROM_NOW_IN_DAY = @Constants.LATEST_POSSIBLE_BOOKING_START_TIME_FROM_NOW_IN_DAY
			, queryApiUrl = '@Url.RouteUrl("SearchVehiclesAPI", new { controller = "Home" })'
			, vehicleInfoUrl = '/vehicleInfo'
			, yearSliderMax = @Model.MaxYear
			, yearSliderMin = @Model.MinYear
			, priceSliderMax = @Model.MaxPrice;
	</script>
	@Scripts.Render("~/Scripts/Search")
}