@using CRP.Models
@using CRP.Models.Entities
@using CRP.Models.ViewModels

@model SearchPageViewModel

@{
	ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-content row" style="padding-top:0;padding-bottom:0;position: relative;height: calc(100vh - 100px);">
	<!-- filter -->
	<div class="col-md-5 scroll-container animated fadeInLeft" id="filters" style="border-right: 1px solid #d0d0d0;padding: 2em 2em 0;">
		<!-- Time -->
		<div class="form-group row">
			<label class="col-xs-2">Time</label>
			<div class="col-xs-10">
				<div class="input-group" id="timeFilter">
					<span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
					<input type="text" id="startTimeFilter" class="form-control" readonly/>
					<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
					<input type="text" id="endTimeFilter" class="form-control" readonly/>
				</div>
			</div>
		</div>
		<hr>
		<!-- Location -->
		<div class="form-group row">
			<label class="col-xs-2">Location</label>
			<div class="col-xs-10">
				<select id="locationFilter" class="form-control" style="width: 100%;"  multiple>
					@foreach (Location entry in Model.LocationList)
					{
						<option value="@entry.ID">@entry.Name</option>
					}
				</select>
			</div>
		</div>
		<hr>
		<!-- Price -->
		<div class="form-group row">
			<label class="col-xs-12">Price</label>
			<div id="minPriceDisplay" class="col-xs-6" style="padding-left: 1.5em; font-size: 1.2em"></div>
			<div id="maxPriceDisplay" class="col-xs-6 text-right" style="padding-right: 1.5em; font-size: 1.2em"></div>
			<div class="col-xs-12" style="position: relative; padding: 1em 3em 2em" >
				<div id="priceFilter"></div>
			</div>
		</div>
		<hr>
		<!-- Sorting -->
		<div class="form-group row">
			<label class="col-xs-2">Sort by</label>
			<div class="col-xs-6">
				<select id="sorter" class="form-control" style="width: 100%;">
					@for (int i=0, l = Constants.AllowedSortingPropsInSearchPage.Count(); i < l; i++)
					{
						<option value="@i" @(Constants.AllowedSortingPropsInSearchPage[i].Value == "BestPossibleRentalPeriod" ? "selected" : "") >
							@Constants.AllowedSortingPropsInSearchPage[i].Name
						</option>
					}
				</select>
			</div>
			<div class="col-xs-4">
				<select id="sortDirector" class="form-control" style="width: 100%;">
					<option value="false">Ascending</option>
					<option value="true">Descending</option>
				</select>
			</div>
		</div>

		<!-- Additional filters -->
		<div class="panel panel-default">
			<a data-toggle="collapse" href="#additionalFilters" class="btn btn-info btn-block" >
				<i class="fa fa-angle-double-down"></i>
			</a>
			<div id="additionalFilters" class="panel-collapse collapse" >
				<div class="panel-body">
					<!-- Brand -->
					<div class="form-group row">
						<label class="col-xs-2">Brand</label>
						<div class="col-xs-10">
							<select id="brandFilter" class="form-control" style="width: 100%;" multiple>
								@foreach (Brand brand in Model.BrandList)
								{
									<option value="@brand.ID">@brand.Name</option>
								}
							</select>
						</div>
					</div>
					<hr>
					<!-- Model -->
					<div class="form-group row">
						<label class="col-xs-2">Model</label>
						<div class="col-xs-10">
							<select id="modelFilter" class="form-control" style="width: 100%;" multiple>
								@foreach (Brand brand in Model.BrandList)
								{
									<optgroup label="@brand.Name" data-brand="@brand.ID">
										@foreach (Model entry in brand.Models)
										{
											<option value="@entry.ID">
												@brand.Name&nbsp;@entry.Name
											</option>
										}
									</optgroup>
								}
							</select>
						</div>
					</div>
					<hr>
					<!-- Year -->
					<div class="form-group row">
						<label class="col-xs-12">Model Year</label>
						<div id="minYearDisplay" class="col-xs-6" style="padding-left: 1.5em; font-size: 1.2em"></div>
						<div id="maxYearDisplay" class="col-xs-6 text-right" style="padding-right: 1.5em; font-size: 1.2em"></div>
						<div class="col-xs-12" style="position: relative; padding: 1em 3em"><div id="yearFilter"></div></div>
					</div>
					<hr>
					<!-- Category -->
					<div class="form-group row" >
						<label class="col-xs-2">Category</label>
						<div class="col-xs-10">
							<select id="categoryFilter" class="form-control" style="width: 100%;"  multiple>
								@foreach (Category entry in Model.CategoryList)
								{
									<option value="@entry.ID">@entry.Name</option>
								}
							</select>
						</div>
					</div>
					<hr>
					<!-- NumOfSeat -->
					<div class="form-group row">
						<label class="col-xs-2">Seat</label>
						<div class="col-xs-10">
							<select id="seatFilter" class="form-control" style="width: 100%;"  multiple>
								@foreach (int entry in Constants.CommonNumOfSeat)
								{
									<option value="@entry">@entry</option>
								}
							</select>
						</div>
					</div>
					<hr>
					<!-- Transmission -->
					<div id="transmissionFilter" class="form-group row">
						<label class="col-xs-3">Transmission</label>
						@foreach (KeyValuePair<int, string> entry in Constants.TransmissionType)
						{
							<div class="col-xs-4">
								<div class="checkbox checkbox-inline checkbox-primary">
									<input value="@entry.Key" id="transmission@(entry.Value)" type="checkbox" >
									<label for="transmission@(entry.Value)">@entry.Value</label>
								</div>
							</div>
						}
					</div>
					<hr>
					<!-- Color -->
					<div class="form-group row" id="colorSelector">
						<label class="col-xs-2">Color</label>
						<div class="col-xs-10">
							<select id="colorFilter" class="form-control custom-select2" style="width: 100%;"  multiple>
								@for(int i = 1; i < Constants.Color.Count(); i++)
								{
									<option value="@i">@Constants.Color[i]</option>
								}
								<option value="0">@Constants.Color[0]</option>
							</select>
						</div>
					</div>
					<hr>
					<!-- Fuel -->
					<div class="form-group row">
						<label class="col-xs-2">Fuel</label>
						<div class="col-xs-10">
							<select id="fuelFilter" class="form-control" style="width: 100%;"  multiple>
								@foreach(KeyValuePair<int, string> entry in Constants.FuelType){
									<option value="@entry.Key">@entry.Value</option>
								}
							</select>
						</div>
					</div>

				</div>
			</div>
		</div>	
	</div>
	<!-- results -->
	<div class="col-md-7 scroll-container animated fadeInRight" id="resultContainer">
		<div class="ibox" style="padding-top: 1em;">
			<div class="row" id="searchResultGrid"></div>
			<div id="recordInfo" style="margin-bottom: 1em;"></div>
			<div class="text-center">
				<ul id="paginatior" class="pagination"></ul>
			</div>
		</div>
	</div>
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/Search")
	 .Include("~/Content/awesome-bootstrap-checkbox.css",
		 "~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.css",
		 "~/Content/NoUISlider/nouislider.css",
		 "~/Content/NoUISlider/nouislider.pips.css",
		 "~/Content/NoUISlider/nouislider.tooltips.css",
		 "~/Content/select2/select2.css"));
}
@section Styles {
	@Styles.Render("~/Styles/Search")
}
@section PageStyle {
	@Styles.Render("~/Content/pageStyle/search.css")
}

@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/Search")
	.Include(
		"~/Scripts/moment.js",
		"~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.js",
		"~/Scripts/NoUISlider/nouislider.js",
		"~/Scripts/select2/select2.full.js",
		"~/Scripts/twbsPagination/jquery.twbsPagination.js",
		"~/Scripts/utils/generateUIElements.js",
		"~/Scripts/pageScript/search.js"));
}
@section Scripts {
	<script type="text/javascript">
		const NumRecordPerPage = @Constants.NumberOfSearchResultPerPage
			, SoonestPossibleBookingStartTimeFromNowInHour = @Constants.SoonestPossibleBookingStartTimeFromNowInHour
			, SoonestPossibleBookingEndTimeFromNowInHour = @Constants.SoonestPossibleBookingEndTimeFromNowInHour
			, LatestPossibleBookingStartTimeFromNowInDay = @Constants.LatestPossibleBookingStartTimeFromNowInDay
			, queryApiUrl = '@Url.RouteUrl("SearchVehiclesAPI", new { controller = "Home" })'
			, vehicleInfoUrl = '/vehicleInfo'
			, yearSliderMax = @Model.MaxYear
			, yearSliderMin = @Model.MinYear
			, priceSliderMax = @Model.MaxPrice;
	</script>
	@Scripts.Render("~/Scripts/Search")
}