@using CRP.Models
@using CRP.Models.Entities

@model List<CRP.Models.Entities.Location>

@{
		ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content white-bg row">
	<!-- filter -->
	<div class="col-md-6">
		<div class="animated fadeInLeft" id="filter">
			<!-- Time -->
			<div class="form-group row">
				<label class="col-xs-2">Time</label>
				<div class="col-xs-10">
					<div class="input-group" id="timeFilter">
						<span class="input-group-addon"><i class="fa fa-calendar"></i> From:</span>
						<input type="text" id="startTimeFilter" class="form-control" />
						<span class="input-group-addon"><i class="fa fa-calendar"></i> To:</span>
						<input type="text" id="endTimeFilter" class="form-control" />
					</div>
				</div>
			</div>
			<!-- Location -->
			<div class="form-group row">
				<label class="text-left col-xs-2">Location</label>
				<div class="col-xs-10">
					<select data-placeholder="Please select categories..." id="locationFilter" class="form-control" multiple>
						@foreach (Location entry in Model)
						{
							<option value="@entry.ID">@entry.Name</option>
						}
					</select>
				</div>
			</div>
			<!-- Price -->
			<div class="form-group row">
				<label class="col-xs-12">Price</label>
				<div id="minPriceDisplay" class="col-xs-6"></div>
				<div id="maxPriceDisplay" class="col-xs-6 text-right"></div>
				<div class="col-xs-12"><div id="priceFilter"></div></div>
			</div>
			<!-- Model + Brand -->
			<div id="modelFilter">
				<ul style="display:none;">
					<li data-node-lvl="1" data-node-id="1">
						Audi
						<ul>
							<li data-node-lvl="2" data-node-id="1">A1</li>
							<li data-node-lvl="2" data-node-id="2">A6</li>
							<li data-node-lvl="2" data-node-id="3">A7</li>
							<li data-node-lvl="2" data-node-id="4">A8</li>
							<li data-node-lvl="2" data-node-id="5">Q3</li>
							<li data-node-lvl="2" data-node-id="6">Q7</li>
							<li data-node-lvl="2" data-node-id="7">TT</li>
							<li data-node-lvl="2" data-node-id="8">TTS</li>
						</ul>
					</li>
					<li data-node-lvl="1" data-node-id="2">
						BMW
						<ul>
							<li data-node-lvl="2" data-node-id="9">320i</li>
							<li data-node-lvl="2" data-node-id="10">520i</li>
							<li data-node-lvl="2" data-node-id="11">M3</li>
							<li data-node-lvl="2" data-node-id="12">M6</li>
							<li data-node-lvl="2" data-node-id="13">X3</li>
							<li data-node-lvl="2" data-node-id="14">X5</li>
							<li data-node-lvl="2" data-node-id="15">X6</li>
							<li data-node-lvl="2" data-node-id="16">Z4</li>
						</ul>
					</li>
					<li data-node-lvl="1" data-node-id="3">
						Ford
						<ul>
							<li data-node-lvl="2" data-node-id="17">Fiesta Mk5</li>
							<li data-node-lvl="2" data-node-id="18">Fiesta Mk6</li>
							<li data-node-lvl="2" data-node-id="19">Focus Mk2</li>
							<li data-node-lvl="2" data-node-id="20">Focus Mk3</li>
						</ul>
					</li>
					<li data-node-lvl="1" data-node-id="4">
						Toyota
						<ul>
							<li data-node-lvl="2" data-node-id="21">Camry</li>
							<li data-node-lvl="2" data-node-id="22">Corolla Altis</li>
							<li data-node-lvl="2" data-node-id="23">Innova</li>
							<li data-node-lvl="2" data-node-id="24">Land Cruiser</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- Category -->
			<div class="form-group row" >
				<label class="col-xs-2">Category</label>
				<div class="col-xs-10">
					<select data-placeholder="Please select categories..." id="categoryFilter" class="form-control" multiple>
						@foreach (KeyValuePair<int, string> entry in Constants.VehicleType)
						{
							<option value="@entry.Key">@entry.Value</option>
						}
					</select>
				</div>
			</div>
			<!-- NumOfSeat -->
			<div class="form-group row">
				<label class="col-xs-2">Seat</label>
				<div class="col-xs-10">
					<select data-placeholder="Please select number of seat..." id="seatFilter" class="form-control" multiple>
					</select>
				</div>
			</div>
			<!-- Transmission -->
			<div id="transmissionFilter" class="form-group row">
				<label class="col-xs-3">Transmission</label>
				@foreach (KeyValuePair<int, string> entry in Constants.TransmissionType)
				{
					<div class="col-xs-4">
						<div class="checkbox checkbox-inline checkbox-primary">
							<input value="@entry.Key" id="transmission@(entry.Value)" type="checkbox" >
							<label for="transmission@(entry.Value)">@entry.Value</label>
						</div>
					</div>
				}
			</div>
			<!-- Color -->
			<div class="form-group row" id="colorSelector">
				<label class="col-xs-2">Color</label>
				<div class="col-xs-10">
					<select data-placeholder="Please select a color..." id="colorFilter" class="form-control" multiple>
						@foreach (KeyValuePair<int, string> entry in Constants.Color)
						{
							<option value="@entry.Key">@entry.Value</option>
						}
					</select>
				</div>
			</div>
			<!-- Fuel -->
			<div class="form-group row">
				<label class="col-xs-2">Fuel</label>
				<div class="col-xs-10">
					<select data-placeholder="Please select fuel type..." id="fuelFilter" class="form-control" multiple>
						@foreach(KeyValuePair<int, string> entry in Constants.FuelType){
							<option value="@entry.Key">@entry.Value</option>
						}
					</select>
				</div>
			</div>
		</div>
	</div>
	<!-- results -->
	<div class="col-md-6">
		<div class="ibox animated fadeInRight">
			<div id="searchResultGrid" class="row" data-source="@Url.RouteUrl("SearchVehiclesAPI", new { controller = "Home" })" ></div>
			<div>2,160 results found</div>
			<div class="text-center">
				<ul id="paginatior" class="pagination-lg"></ul>
			</div>
		</div>
	</div>
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/Search")
	 .Include("~/Content/awesome-bootstrap-checkbox.css",
		 "~/Content/bootstrap-datetimepicker/bootstrap-datetimepicker.css",
		 "~/Content/NoUISlider/nouislider.css",
		 "~/Content/NoUISlider/nouislider.pips.css",
		 "~/Content/NoUISlider/nouislider.tooltips.css",
		 "~/Content/select2/select2.css"));
}
@section Styles {
	@Styles.Render("~/Styles/Search")
}
@section PageStyle {
	@Styles.Render("~/Content/pageStyle/search.css")
}

@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/Search")
	.Include(
		"~/Scripts/moment.js",
		"~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.js",
		"~/Scripts/NoUISlider/nouislider.js",
		"~/Scripts/select2/select2.full.js",
		"~/Scripts/twbsPagination/jquery.twbsPagination.js",
		"~/Scripts/utils/generateUIElements.js",
		"~/Scripts/pageScript/search.js"));
}
@section Scripts {
	@Scripts.Render("~/Scripts/Search")
}