@using CRP.Models
@using CRP.Models.Entities
@using CRP.Models.ViewModels

@model CRP.Models.ViewModels.VehicleDetailInfoModel
@{
    ViewBag.Title = "VehihicleDetail";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}


        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-md-10"><h2>Thông tin chi tiết của xe</h2></div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    @Html.HiddenFor(q => q.ID, new { @id = "vehicleID" })
                    <div class="ibox product-detail">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Tên</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.Name</p>
                                        </div>
                                        <div class="editFiel col-md-8 m-b" style="display:none">
                                            @Html.TextBoxFor(q => q.Name, new { @type = "text", @class = "form-control", @id = "name", @maxlength = "100" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Biển số xe</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.LicenseNumber</p>
                                        </div>
                                        <div class="editFiel col-md-8" style="display:none">
                                            <div class="m-b">
                                                @Html.TextBoxFor(q => q.LicenseNumber, new { @type = "text", @class = "form-control", @id = "licenseNumber", @maxlength = "50" })
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Garage</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.GarageName</p>
                                        </div>
                                        <div class="editFiel col-md-8" style="display:none">
                                            
                                            @Html.DropDownListFor(q => q.GarageID, this.Model.listGarage, new { @class = "form-control", @id = "garageID" })
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Nhóm</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.VehicleGroupName</p>
                                        </div>
                                        <div class="editFiel col-md-8" style="display:none">
                                            @Html.DropDownListFor(q => q.VehicleGroupID, this.Model.listGroup, new { @class = "form-control", @id = "groupID" })
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Hãng xe</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.BrandName @this.Model.ModelName</p>
                                        </div>
                                        <div class="editFiel col-md-8" style="display:none">
                                            @*<select id="modelFilter" class="form-control">*@
                                                @Html.DropDownListFor(q => q.BrandID, this.Model.listBrand, new { @class = "form-control", @id = "brandID" })
                                                @*@foreach (VehicleBrand brand in this.Model.BrandList)
                                                {
                                                    <optgroup id="brandID"  value="@(brand.ID)" label="@(brand.Name)">
                                                        @foreach (VehicleModel entry in brand.VehicleModels)
                                                        {
                                                        <option id="modelID" data-brand="@brand.ID" value="@(entry.ID)">@(brand.Name)&nbsp;@entry.Name</option>
                                                        }
                                                    </optgroup>
                                                }*@
                                            @*</select>*@
                                        </div>
                                    </div>
                                </div>
                                    @*$('asd).data('brand')*@
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Model</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.ModelName</p>
                                        </div>
                                        <div class="editFiel col-md-8" style="display:none">
                                               @Html.DropDownListFor(q => q.ModelID, this.Model.listModel, new { @class = "form-control", @id = "modelID"})
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Năm</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.Year</p>
                                        </div>
                                        <div class="editFiel col-md-8" style="display:none">
                                            @Html.TextBoxFor(q => q.Year, new { @type = "number", @class = "form-control", @id = "year", @max = Constants.MAX_YEAR, @min = Constants.MIN_YEAR})
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Động cơ</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.Engine</p>
                                        </div>
                                        <div class="editFiel col-md-8 m-b" style="display:none">
                                            <div>
                                                @Html.TextBoxFor(q => q.Engine, new { @type = "text", @class = "form-control", @id = "engine" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Nhiên liệu</label>
                                        </div>
                                        <div class="justRead col-md-8 m-b">
                                            <p>@this.Model.FuelTypeName</p>
                                        </div>
                                        <div class="editFiel col-md-8 m-b" style="display:none">
                                            <select id="fuelFilter" class="form-control">
                                                @foreach (KeyValuePair<int, string> entry in Constants.FUEL_TYPE)
                                                {
                                                    if (@entry.Value != Model.FuelTypeName)
                                                    {
                                                        <option value="@entry.Key">@entry.Value</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@entry.Key" selected>@entry.Value</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 text-right">
                                            <label>Hộp số</label>
                                        </div>
                                        <div class="justRead col-md-8">
                                            <p>@this.Model.TransmissionTypeName</p>
                                        </div>
                                        <div class="editFiel col-md-8" style="display:none">
                                            <div id="tranmissionType" class="form-control">
                                                <div class="form-group row">
                                                    
                                                        @foreach (KeyValuePair<int, string> entry in Constants.TRANSMISSION_TYPE)
                                                        {
                                                            if (@entry.Value != Model.TransmissionTypeName)
                                                            {
                                                                <div class="radio radio-primary col-xs-6 text-center" style="margin: 0 0 3px 0">
                                                                    <input value="@entry.Key" id="transmission@(entry.Value)" name="TransName" type="radio">
                                                                    <label for="transmission@(entry.Value)" name="TransName">@entry.Value</label>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="radio radio-primary col-xs-6 text-center" style="margin: 0 0 3px 0">
                                                                    <input value="@entry.Key" id="transmission@(entry.Value)" name="TransName" type="radio" checked>
                                                                    <label for="transmission@(entry.Value)" name="TransName">@entry.Value</label>
                                                                </div>
                                                            }
                                                        }
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="row editFiel" style="display:none"> 
                                        <div class="col-md-4 text-right">
                                            <label>Màu</label>
                                        </div>
                                        <label style="background-color: @this.Model.ColorName"></label>
                                        <div class="col-md-8 m-b" style="height: 200px;">
                                            <div class="form-group row" id="colorFilter">
   
                                                <div class="col-xs-12">
                                                    @for (int i = 1; i < Constants.COLOR.Count(); i++)
                                                    {
                                                        if (i == this.Model.ColorID)
                                                        {
                                                            <div id="colorFilter" class="color-selector">
                                                                <input id="color@(Constants.COLOR[i])" name="group" value="@i" type="radio" checked>
                                                                <label for="color@(Constants.COLOR[i])" name="group" style="background-color: @Constants.COLOR[i];"></label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div id="colorFilter" class="color-selector">
                                                                <input id="color@(Constants.COLOR[i])" name="group" value="@i" type="radio">
                                                                <label for="color@(Constants.COLOR[i])" name="group" style="background-color: @Constants.COLOR[i];"></label>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div id="img-div" class="col-md-6">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-4 text-right">
                                                <label>Hình</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="carousel slide m-b" id="carousel1">
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <img alt="image" class="img-responsive" src="@this.Model.ImageUrls[0]">
                                                        </div>
                                                        @foreach (string entry in Model.ImageUrls)
                                                        {
                                                            if (Model.ImageUrls.IndexOf(entry) != 0)
                                                            {
                                                                <div class="item">
                                                                    <img alt="image" class="img-responsive" src="@entry">
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                    <a data-slide="prev" href="#carousel1" class="left carousel-control">
                                                        <span class="icon-prev"></span>
                                                    </a>
                                                    <a data-slide="next" href="#carousel1" class="right carousel-control">
                                                        <span class="icon-next"></span>
                                                    </a>
                                                </div>
                                                <a id="edit-img" class="btn btn-warning editFiel" style="display:none">Edit image</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="col-md-6">
                                    <form id="my-awesome-dropzone" class="dropzone" action="#">
                                        <div id="preview-template">
                                        </div>
                                        <div class="row">
                                            <input type="button" name="submit-img" class="btn btn-success pull-right m-l-xs" value="Save" />
                                            <a id="cancel-img" class="btn btn-default pull-right">Cancel</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="text-center">
                                    <a id="delete-btn" class="btn btn-danger" style="margin:20px">Xóa</a>
                                    <a id="edit-btn" class="btn btn-info" style="margin:20px">Chỉnh sửa</a>
                                    <a id="save-btn" class="btn btn-success">Lưu</a>
                                </div>
                            </div>
                            </div>
                            <hr>
                            

                        </div>

                    </div>

                </div>
            </div>
       <div id="delete-car" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#4CAF50">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:white">Xóa xe @Html.DisplayFor(q => q.Name)</h4>
            </div>
            <div class="modal-body form-horizontal">
                <p> Bạn có chắc muốn xóa xe này ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button id="agreed-delete" type="button" class="btn btn-primary">Đồng ý</button> 
            </div>
        </div>
    </div>
</div>

        <div class="footer text-center" style="position: initial;">
            <div>
                <strong>Copyright</strong> CRP &copy; 2016-2017
            </div>
        </div>

@*<div id="edit-car" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Vehicle details</h4>
            </div>
            <div class="modal-body form-horizontal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@

    @{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/VehicleDetail")
                                                          .Include("~/Content/awesome-bootstrap-checkbox.css",
                                                              "~/Content/chosen.css",
                                                              "~/Scripts/dropzone/dropzone.css",
                                                              "~/Scripts/dropzone/basic.css",
                                                              "~/Content/pageStyle/VehicleDetail.css",
                                                              "~/Content/select2/select2.css"));
    }
    @section Styles {
        @Styles.Render("~/Styles/VehicleDetail")
    }
    @{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/VehicleDetail")
                                        .Include("~/Scripts/chosen.jquery.js",
                                           "~/Scripts/bootstrap.min.js",
                                           "~/Scripts/dropzone/dropzone.js",
                                           "~/Scripts/select2/select2.full.js",
                                           "~/Scripts/pageScript/VehicleDetail.js"));
    }
    @section Scripts {
        @Scripts.Render("~/Scripts/VehicleDetail")
    }
