@using System.Threading.Tasks
@using CRP.Models.Entities
@using CRP.Models.ViewModels

@model CRP.Models.ViewModels.FilterByGarageView

@{
	ViewBag.Title = "Vehicle Management";
	Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-10"><h2>Quản lý xe</h2></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="ibox ibox-content float-e-margins">
        <div class="row">
            <div class="col-md-2 pull-left m-l m-b">
                <label class="form-control-static">Thuộc về garage</label>
            </div>
            <div class="col-md-3 pull-left m-l m-b">
                @Html.DropDownListFor(q => q.garageID, this.Model.listGarage, new { @class = "form-control", @id = "garageID" })
            </div>
            <div class="pull-right m-r m-b">
                <a id="add-car" class="btn btn-success" data-toggle="modal" data-target="#customModal" data-action="createVehicle"><i class="fa fa-plus"></i> Thêm xe mới</a>
            </div>
        </div>
		<table id="vehicleTable" class="table table-stripped table-bordered table-hover" width="100%">
		</table>
	</div>
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/VehicleManagement")
	.Include("~/Content/awesome-bootstrap-checkbox.css",
		"~/Content/DataTables/css/dataTables.bootstrap.css",
		"~/Content/NoUISlider/nouislider.css",
		"~/Content/NoUISlider/nouislider.pips.css",
		"~/Content/NoUISlider/nouislider.tooltips.css",
		"~/Content/select2/select2.css"));
}
@section Styles {
	@Styles.Render("~/Styles/VehicleManagement")
}
@section PageStyle {
	@Styles.Render("~/Content/pageStyle/vehicleManagement.css")
}

@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/VehicleManagement")
	.Include("~/Scripts/DataTables/jquery.dataTables.js",
		"~/Scripts/DataTables/dataTables.bootstrap.js",
		"~/Scripts/moment.js",
		"~/Scripts/NoUISlider/nouislider.js",
		"~/Scripts/select2/select2.full.js",
		"~/Scripts/utils/generateUIElements.js",
		"~/Scripts/pageScript/vehicleManagement.js"));
}
@section Scripts {
	<script type="text/javascript">
		@* const yearSliderMax = @Model.MaxYear
		 	, yearSliderMin = @Model.MinYear;*@
		const queryApiUrl = '@Url.RouteUrl("GetVehicleListAPI", new { controller = "VehicleManagement" })'
	</script>
	@Scripts.Render("~/Scripts/VehicleManagement")
}