@model CRP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div class="margin-signup padding-signup backgroundStyle">
        <div>

            <h1 class="logo-name">CRP</h1>

        </div>
        <h3 style="color:white">Tạo một tài khoản</h3>
        <p style="color:white">Để sử dụng dịch vụ chuẩn của chúng tôi!</p>

       @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
       {
        @Html.AntiForgeryToken()
          @Html.ValidationSummary("", new { @class = "text-danger" })
            <div>
                <div class="form-group ">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Tên tài khoản" })
                </div>
                <div class="form-group ">
                    @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control", placeholder = "Tên đầy đủ" })
                </div>
                <div class="form-group ">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                </div>
                <div class="form-group ">
       
                    @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", placeholder = "Xác nhận Email" })
                </div>
                <div class="form-group ">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                </div>
                <div class="form-group ">
    
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Xác nhận mật khẩu" })
                </div>
                <div class="form-group ">
          
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Số điện thoại" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" style="color:white">Đăng kí</button>

                <p class="text-muted text-center" style="color:white"><small>Bạn đã tài khoản?</small></p>
                @Html.ActionLink("Login", "Login", "Account", new { @class = "btn btn-sm btn-white btn-block" })
            </div>
       }
        <p class="m-t" style="color:white"> <small>Contact us at carrentalportal@gmail.com</small> </p>

    </div>
</div>
@section PageStyle {
    @Styles.Render("~/Content/pageStyle/signUp.css")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
