@using CRP.Models.ViewModels
@model AdminReportViewModel
@{
	ViewBag.Title = "Report";
	Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<div class="wrapper wrapper-content">
	<div class="row">
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-success pull-right">Tháng hiện tại</span>
					<h5>Lượt đặt xe</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">@Model.ThisMonthNumOfSuccessfulBooking</h1>
					<small>Tổng số lượt</small>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<span class="label label-info pull-right">Tháng hiện tại</span>
					<h5>Lợi nhuận</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">@Model.ThisMonthNumOfProfit</h1>
					<small>Tổng lợi nhuận</small>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		@* Chart here *@
	</div>

	<div class="row">
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Số user</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">@Model.NumOfActiveUser</h1>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Số provider</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">@Model.NumOfActiveProvider</h1>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Số garage</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">@Model.NumOfActiveGarage</h1>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Số xe</h5>
				</div>
				<div class="ibox-content">
					<h1 class="no-margins">@Model.NumOfActiveVehicle</h1>
				</div>
			</div>
		</div>
	</div>
</div>

@{ BundleTable.Bundles.Add(new StyleBundle("~/Styles/AdminDashboard")
	.Include("~/Content/DataTables/css/dataTables.bootstrap.css",
		"~/Content/pageStyle/adminDashboard.css"));
}
@section Styles {
	@Styles.Render("~/Styles/AdminDashboard")
}
@{ BundleTable.Bundles.Add(new ScriptBundle("~/Scripts/AdminDashboard")
		.Include("~/Scripts/DataTables/jquery.dataTables.js",
			"~/Scripts/DataTables/dataTables.bootstrap.js",
			"~/Scripts/utils/generateUIElements.js",
			"~/Scripts/pageScript/adminDashboard.js"));
}
@section Scripts {
	@Scripts.Render("~/Scripts/AdminDashboard")
}

